
<h3>Enter the following details:-</h3><br>
<form role="form" method="GET">

  <div class="form-group">
    <label  class= "bg-primary">Name</label>
    <input type="text" class="form-control" ng-model="bname" placeholder="Enter name of the book">
  </div>
  <div class="form-group">
    <label  class= "bg-primary">Author</label>
    <input type="text" class="form-control" ng-model="bauthor" placeholder="Enter the authors name">
  </div>
  <div class="form-group">
    <label  class= "bg-primary">Count</label>
    <input type="number" class="form-control" ng-model="bcount" placeholder="Enter the number of books">
  </div>
   <div class="form-group">
    <label  class= "bg-primary">Description</label>
     <textarea class="form-control" rows="5" ng-model="bdescription" placeholder="Enter book description"></textarea>
  </div> 
  
  <button type="submit" ng-click = "addBook(bname,bauthor,bcount,bdescription)">submit</button>
</form>

<div><h2>{{successMessage}}</h2></div>
