
<h2>Create your account here...!!!</h2>

<form role="form" method="GET">
  <div class="form-group">
    <label  class= "bg-primary">Name</label>
    <input type="text" class="form-control" ng-model="name" placeholder="Enter your name">
  </div>
  <div class="form-group">
    <label  class= "bg-primary">Age</label>
    <input type="number" class="form-control" ng-model="age" placeholder="Enter your age">
  </div>
  <div class="form-group">
    <label  class= "bg-primary">Profession</label>
   <select class="form-control" id="sel1">
    <option>Student</option>
    <option>Engineer</option>
    <option>Doctor</option>
    <option>Architecht</option>
    <option>BusinessMan</option>
    <option>N/A</option>
   </select>
   </div>
   
   <div class="form-group">
    <label  class= "bg-primary">Username</label>
     <input type="text" class="form-control" ng-model="username" placeholder="Enter username">
  </div> 
  
   <div class="form-group">
    <label  class= "bg-primary">Password</label>
     <input type="text" class="form-control" ng-model="password" placeholder="Enter password">
    
  </div> 
  
    <div class="form-group">
    <label  class= "bg-primary">Confirm Password</label>
     <input type="text" class="form-control" ng-model="password" placeholder="pleaes confirm your password">
    
  </div> 
  
  <button type="submit" ng-click = "register(name,age,profession,username,password)">submit</button>
</form>

{{registerSuccess}}